html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: grey;
    overflow: auto;
    width: 100%;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: darkgrey;
    color: white;
}

.navbar .icon {
    display: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media screen and (max-width: 250px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
    }
}